<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Sample project</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.13">
      <gitLabConnection>IoTMonitoringSolution</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Branch</name>
          <description>Branch</description>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://10.10.10.2/Sriveena/Cloud_ATF_DataAnalysisService.git</url>
        <credentialsId>gitlab_user</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://10.10.10.2/abhishek/Cloud_ATF_DataHandlerService.git</url>
        <credentialsId>gitlab_user</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://10.10.10.2/IoTMonitoringSolution/CloudATFGateway.git</url>
        <credentialsId>gitlab_user</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://10.10.10.2/IoTMonitoringSolution/Cloud_ATF_WiCheck_AL_Service.git</url>
        <credentialsId>gitlab_user</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://10.10.10.2/IoTMonitoringSolution/Cloud_ATF_Docker.git</url>
        <credentialsId>gitlab_user</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>true</shallow>
        <noTags>true</noTags>
        <reference></reference>
        <timeout>120</timeout>
        <honorRefspec>true</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>SampleJob/Cloud_ATF_Docker</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker
git clone http://10.10.10.2/IoTMonitoringSolution/Cloud_ATF_Docker.git

cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker
mkdir CATFDas
cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker/CATFDas
git branch -a
git reset --hard
git checkout origin/$Branch
git branch
git status
node -v
npm -v
npm install

cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker
mkdir CATFDhs
cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker/CATFDhs

git reset --hard
git branch
git checkout origin1/$Branch
git branch
git status
node -v
npm -v
npm install

cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker
mkdir CATFGateway
cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker/CATFGateway

git reset --hard
git checkout origin2/$Branch
git branch
git status
node -v
npm -v
npm install

cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker
mkdir CATFWAL
cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker/CATFWAL

git reset --hard
git checkout origin3/$Branch
git branch
git status
node -v
npm -v
npm install

cd /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Docker
docker build -t atf_services:setup .
docker save -o atf_services.tar atf_services:setup
chmod -R 777 atf_services.tar
cp -pr atf_services.tar /var/lib/jenkins/SampleJob/Cloud_ATF_Docker/ATF_Upgrade/wicheck/installation</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <jenkins.plugins.nodejs.NodeJSBuildWrapper plugin="nodejs@1.3.5">
      <nodeJSInstallationName>ATF</nodeJSInstallationName>
      <cacheLocationStrategy class="jenkins.plugins.nodejs.cache.DefaultCacheLocationLocator"/>
    </jenkins.plugins.nodejs.NodeJSBuildWrapper>
  </buildWrappers>
</project>